<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <listeners>
    <listener class-name ="test.ListenerExample"/>
</listeners>


  <test thread-count="5" name="Test">
  
  <parameter name = "UserName"  value = "abc@abc.com"/>
   <parameter name = "Password"  value = "Abc@1234"/>
    <parameter name = "CorrectPassword"  value = "Rachit1234"/>
  <classes>
  <class name = "test.LoginTest"/>
  </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
